@font-face {
  font-family: HelveticaDisplayNow;
  src: url(../fonts/HelveticaNowDisplay-Medium.woff)
}

@font-face {
  font-family: HelveticaDisplayNowItalic;
  src: url(../fonts/HELVETICANOWDISPLAY-REGITA.TTF)
}

@font-face {
  font-family: MigraExtraLight;
  src: url(../fonts/._Migra-Extralight.woff)
}