@use "var" as *;

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;


  button {
    height: 20px;
  }

  #hamburger-svg {
    stroke: red;
  }

  .hamburger {
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    transition: width 2s, height 4s;

    .ham-button {
      height: 40px;
    }

    .hamburger-container {
      background-color: red;
      margin: 0;

      position: absolute;
      top: 0;
      right: -300px;
      transition: .8s;
      width: 100vw;
      height: 100vh;

      ul {
        list-style: none;
        margin-top: 180px;
        padding-left: 0pt;
        display: flex;
        flex-direction: column;
        align-items: end;
      }

      li {
        width: fit-content;
        padding: 1rem;
        font-size: 30px;
        margin-right: 60px;
      }


      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .right-side-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      margin-right: 1.5rem;
    }
  }


  .pg-logo {
    width: 60px;
    height: fit-content;
    fill: $primaryDark;

  }


}






// svg {
//   width: fit-content;
// }