@use "var" as *;

.landing-section {
  height: calc(100vh - 61px);
  position: relative;
}

.threejs {
  position: absolute;
  z-index: -1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  div {
    height: 100px;
  }
}

.premium-gabe {
  height: 33%;
  position: relative;

  h1 {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    font-size: clamp(2rem, 20vw, 7rem);
  }

  .arrow {
    height: 50% !important;
    width: 50% !important;
    fill: $secondaryLight;
    transform: scale(.5);
    position: absolute;

  }
}

text {
  fill: $secondaryLight;
  font-family: Migra;
  font-size: clamp(2rem, 5.5vw, 3rem);
  animation: rotate 35s linear infinite;
  transform-origin: 250px 250px;
}

.circle {
  position: absolute;
  height: fit-content;
  bottom: -9%;
  left: 35%;

  svg {
    max-width: 80vmin;
    height: clamp(2rem, 50vw, 17rem);
    width: clamp(2rem, 50vw, 17rem);
  }

}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

#rotated {
  position: absolute;
  top: 19%;
  transform: translateY(-50%);
  left: 50%;
  right: 0;
  transform-origin: 0 4vw;
}

.circular-text {
  width: 12em;
  height: 12em;
  place-items: center;
  transform-origin: center;
  margin-left: 300px;

}

#rotate-text {
  height: 400px;
  width: 400px;
  font-size: 20px;
  margin: 0 auto;

}

#contact {
  p {
    cursor: pointer;
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  right: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px;
}

@media screen and (min-width:768px) {
  .landing-section {
    position: relative;
    padding: 0 5vw;


    .premium-gabe {
      height: calc(100vh - 80px);
      width: 66vw;

      h1 {
        font-size: 12vw;
        margin-bottom: 4rem;
      }

      text {
        fill: $secondaryLight;
        font-family: Migra;
        font-size: clamp(2rem, 4vw, 4rem);
        animation: rotate 25s linear infinite;
        transform-origin: 250px 250px;
      }

      .circle {
        position: absolute;
        height: fit-content;
        bottom: -2%;
        left: 35%;

        svg {
          max-width: 80vmin;
          height: 35vw;
          width: 35vw;
        }

      }
    }

    .threejs {
      // z-index: 100;
      // height: calc(100vh) !important;
      // width: 45vw !important;
    }
  }


}


@media screen and (min-width: 1000px) {
  .landing-section {
    .premium-gabe {
      h1 {
        font-size: 12vw;
      }

      text {
        font-size: clamp(2rem, 5vw, 3rem);
      }

      .circle {
        position: absolute;
        height: fit-content;

        left: 35%;

        svg {
          height: clamp(2rem, 30vw, 37rem);
          width: clamp(2rem, 30vw, 37rem);
        }

      }
    }

    canvas {
      width: 847px;
    }
  }

}

@media screen and (min-width: 1400px) {
  .landing-section {
    .premium-gabe {
      h1 {
        font-size: clamp(2rem, 10vw, 12rem);
      }

      .circle {
        bottom: 0;
        left: 20%;
      }

      .circle svg {
        height: clamp(2rem, 25vw, 30rem);
        width: clamp(2rem, 25vw, 30rem);
      }
    }
  }

}