@use "var" as *;

.landing-section {
  height: calc(95vh - 5vw);
  position: relative;
  margin-bottom: 10em;
}

.premium-gabe {
  width: 100%;
  height: 90%;
  padding-top: clamp(50px, 20vw, 80px);
  max-width: 560px;
  margin: 0 auto;

  h1 {
    font-size: clamp(2rem, 15vw, 5rem);
    font-family: HelveticaDisplayNow !important;
    text-transform: uppercase;
    color: $primaryDark;
    line-height: .7;
    letter-spacing: .04em;

    .migra {
      font-family: Migra !important;
      font-size: clamp(2rem, 16vw, 6.3rem);
    }
  }

  .threejs {
    border: solid 1px $primaryDark;
    z-index: 0;
    height: 40%;
    width: 100%;
    border-radius: 0 0px 0px 50px;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 90%;
      width: 100%;
    }
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding-top: clamp(50px, 20vw, 50px);

    .title-section {
      .gabriel {
        display: flex;
        gap: 1.5em;
        padding-bottom: 1.5em;

        .red-line {
          width: 50%;
          height: 1px;
          background-color: $primaryDark;
          align-self: center;
        }
      }

      .kelly {
        display: flex;
        height: fit-content;
        margin-top: 1em;

        #kelly {
          box-sizing: border-box;
        }

        .icon-container {
          border-radius: 100px;
          height: clamp(2em, 11vw, 60px);
          width: 100%;
          margin-left: 2rem;
          border: solid 1px $primaryDark;
          display: flex;
          align-items: center;
          justify-content: space-around;

          svg {
            height: 65%;
            width: 15%;
            fill: $primaryOffLight;
            transition: ease-out .3s;

            &:nth-child(1) {
              transform: rotate(20deg) translateY(.3em);

              &:hover {
                transform: translateY(.4em) translateX(.5em) rotate(40deg);
              }
            }

            &:nth-child(2) {
              transition: ease-in-out 1.4s;
              fill: $primaryOffLight;

              &:hover {
                transform: scaleX(-1) scale(1.2);

              }
            }

            &:nth-child(3) {
              transform: scaleX(-1) rotate(20deg) translateY(.3em);

              &:hover {
                transform: translateY(.8em) scaleX(-1) rotate(20deg);
                fill: $myRed;
              }
            }
          }
        }
      }
    }

    .sub-text {
      display: flex;
      flex-direction: column;
      height: 10%;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: clamp(1rem, 3vw, 1.5rem);
    }
  }
}


@media screen and (min-width:768px) {}

@media screen and (min-width: 1000px) {

  .landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - (60px + 4vw));
    margin-bottom: 20em;
  }

  .premium-gabe {
    max-width: 1400px;
    display: flex;
    gap: 8em;
    height: 100%;
    padding: 0;
    align-items: center;



    h1 {
      font-size: clamp(1rem, 6vw, 5rem);
    }

    .threejs {
      width: 50%;
      height: 100%;
      transition: .4s ease-out;
    }

    .landing-text {
      width: 50%;
      height: 80%;
      align-self: flex-end;
      padding: 0;
      justify-content: space-between;

      .title-section {
        .kelly {
          margin: 0;

          .icon-container {
            height: clamp(2em, 5vw, 6.9rem);
          }
        }
      }
    }

    .bottom-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 15%;
    }

    .small-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {


        text-transform: uppercase;
        margin: 0;
        font-size: clamp(1rem, 1vw, 2rem);
        transition: 1s;
        width: fit-content;
      }
    }

    .sub-text {


      p {
        margin: 0;
        font-size: clamp(1rem, 1vw, 2rem);
        transition: 1s;
        width: fit-content;

        &:hover {
          transform: rotate(-10deg);
        }
      }
    }
  }

}

@media screen and (min-width: 1100px) {
  .premium-gabe {
    h1 {
      font-size: clamp(2rem, 8vw, 6rem);
    }
  }

}

@media screen and (min-width: 1400px) {
  .premium-gabe {
    h1 {
      font-size: clamp(2rem, 7vw, 6rem);
    }

    .threejs {
      border-radius: 0 0px 0px 110px;
    }
  }

}

@media screen and (min-width: 1900px) {
  .premium-gabe {
    gap: 6em;
    max-width: 2000px;
    height: 39vw;

    h1 {
      font-size: clamp(2rem, 9vw, 9rem);
    }

    .threejs {
      border-radius: 0 0px 0px 120px;
    }

    .title-section {
      .gabriel {
        gap: 2.5em !important;

        .red-line {
          height: .1em !important;
          border-radius: 80px;
        }
      }
    }

    .bottom-section {
      .arrow {
        width: 100px;
      }

      .small-text {

        p {
          font-size: 20px;
        }

      }
    }
  }
}