@use "var" as *;

main {
  margin: 5px;
}

h1 {
  font-size: 4rem;

  margin: 0;

}

h1,
h2,
h3,
a,
p {
  font-family: HelveticaDisplayNow;
  color: $primaryDark;
}

body {
  margin: 0;
  background-color: $primaryLight;
}