@use "var" as *;

main {
  margin: 5px;
  margin-bottom: 5rem;
}



h1 {
  font-size: 4rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
a,
li,
p {
  font-family: HelveticaDisplayNow;
  color: $primaryDark;
}

h2 {
  margin-bottom: 0;
}

body {
  margin: 0;
  background-color: $primaryLight;
}

#work {
  margin-top: 25vh;
}

.section-content {
  padding-top: 0;
  margin-left: 5vw;
  min-height: 30vh;
}

#about {
  position: relative;
  height: 80vh;
  width: calc(100% - 10vw);

  .section-content {
    margin-top: 4rem;
    width: 100%;
    height: 55%;
    border: 1px solid black;



  }

  p {
    margin: 1em;
    position: absolute;


  }

}

.three-head {
  position: absolute;

  height: 90%;
  width: 100%;

  // &::before {
  //   position: absolute;
  //   content: '';
  //   display: inline-block;
  //   width: 15px;
  //   height: 15px;
  //   -moz-border-radius: 7.5px;
  //   -webkit-border-radius: 7.5px;
  //   border-radius: 7.5px;
  //   background-color: #69b6d5;
  //   top: -25px;
  // }

}

#contact {
  padding: 0;


  .section-content {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #email {
    position: absolute;
    left: 200px;
    width: fit-content;
    font-size: 100px;

    // white-space: nowrap;
    animation: scroll-left 30s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

@media screen and (min-width:768px) {
  main {
    margin: 0;
  }

  section {
    padding: 0 5vw;
  }

  #about {
    margin-top: 25vh;

    .section-content {
      // display: flex;
      // align-items: center;
      // gap: 2em;
      // padding-top: 4rem;

      // .three-head {
      //   max-width: 40%;
      // }
    }
  }

  #contact {
    margin-top: 25vh;
    min-height: 400px;
  }
}