@use "var" as *;

.default {


  h1 {
    padding-top: 3em;
    font-size: 6em;
  }


  #sub-heading {
    font-style: italic;
    font-size: 1em;
  }

  img {
    margin-top: 3rem;

  }



  h3 {
    // border-top: solid 1px $primaryDark;
    margin: 0;
    margin-top: 4rem;
    padding-top: 4rem;
    font-size: 1.5em;
  }

  ul {
    list-style-type: none;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 0;
  }





  .project-landing {
    height: calc(100vh - (60px - 5vw));
  }

  .live-links {
    margin: 6rem 0;
    text-align: center;



    a {
      text-decoration: none;
      font-size: larger;


    }

    border: solid 1px $primaryDark;
    padding: 5px 8px 5px 8px;
    padding: 2rem;
    border-radius: 15px;

  }
}

.highlights {
  margin: 5px;
  max-width: 900px;

  h2 {
    margin-top: 0;
  }

  .heading-number {
    display: block;
    margin-top: 4em;
    font-size: 2em;
    font-family: MigraExtraLight;
    font-style: italic;
    color: #F55555;
  }



  h3 {
    margin: 0;
    margin-top: 4rem;
    padding-top: 2rem;
  }

  p {
    margin: 0;
  }

  .code {
    position: relative;
    scroll-padding-top: 100px;
    height: 200px;
    transition: height .5s ease-in-out;
  }



  pre {
    border-radius: 10px;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    tab-size: 4;
    hyphens: none;
    height: 100%;
    transition: height 0.5s ease-in-out;
  }

  .expand-button {
    position: absolute;
    padding: .5em;
    font-family: HelveticaDisplayNow;
    color: $primaryDark;
    bottom: -3em;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid $primaryDark;


  }

  .expand-button:hover {
    background-color: $primaryDark;
    color: $primaryLight;
  }

  .code.expanded {
    height: 900px;
    max-height: 900px;
    transition: height .5s ease-in-out;
  }

  video {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
  }


}

@media screen and (min-width:768px) {
  video {}
}

@media screen and (min-width:1024px) {
  .default {

    h1 {
      font-size: 6rem;
    }

    .left-side {
      width: 66%;
      max-width: 900px;

      h2 {
        // margin-top: 4em;
        font-size: 4.54em;
      }

      h3 {
        font-size: 2em;
        margin-top: 1em;
      }

      p {
        font-size: 1em;
        max-width: 60%;
      }

      .basic-info {
        padding: 0;

        gap: 50px;
      }
    }

    .live-links {
      flex: 5 1 33vw;
      margin: 0;
      width: 100%;
      border: none;
      border-left: solid 1px $primaryDark;
      border-radius: 0;
      height: 100vh;
      position: fixed;
      top: 0px;
      left: 70%;

      .live-site {
        padding-top: 334px;
        padding-left: 5vw;

        h3 {
          padding: 0;
          margin: 0;
        }
      }

    }
  }

  .highlights {
    width: 66%;

    h2 {
      font-size: 4rem;
    }
  }

  .live-links:hover {
    background-color: #F55555;
  }
}